.container {
  width: 70%;
  height: fit-content;
  display: flex;
  justify-content:left;
}
.formDiv {
  width: 400px;
  padding: 25px;
  border-radius: 10px;
  -webkit-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
  box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
}
.alert {
  text-align: center;
  margin-top: 5px;
}

.wrapper{ 
  width:600px; 
  overflow-y:scroll; 
  position:relative;
  height: 500px;
}
